/*a:link {text-decoration:none;color:rgb(0,47,167)}    /* unvisited link */
/*a:visited {text-decoration:none;color:rgb(0,47,167)} /* visited link */
a:hover {text-decoration:underline;}   /* mouse over link */
a:active {text-decoration:underline;}  /* selected link */

a{
	text-decoration:none;
	color: var(--link);
}

hr {
	color:#444444;
	text-align: right;
	vertical-align: top;
}

body.light {
	--bg: rgb(255, 243, 241);
	--text: rgb(51,51,51);
	--link: rgb(15, 93, 189);
	--menulink: #3a3a3a
}

body.dark {
	--bg: rgb(36,36,36);
	--text: rgb(200, 200, 200);
	--link: rgb(128, 154, 186);
}

body {	
  	background-color: var(--bg);
  	color: var(--text);
	letter-spacing: 0.05em;
/*	background-color: rgb(255, 255, 255);*/
	font-family:'HelveticaNeue-Light', "Helvetica Neue Light", "Helvetica Neue", 'Helvetica-light', Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	padding:30px;
	height: 100%;
	line-height: 1.5;
	font-size: 20;
}


.bigcontainer{
	position: relative;
}

.container {
	position: absolute;
	left: 50%;
	text-align: left;
	text-align: justify;
	padding: 20px;
	max-width: 40em;
	min-width: 40em;
	transform: translate(-50%, 0%);
}

#title {
	letter-spacing: 0.1em;
	font-size: 2.5em;
	font-family: 'HelveticaNeue-UltraLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica-light', 'Helvetica', Arial, Lucida Grande, sans-serif;
	text-align: center;
}

#lingx {
	font-size: 15px;
}

.current_page_item{
font-weight: bold
}

th, td {
padding: 2px;
padding-bottom: 1em;
vertical-align: text-top;
}

table, th, td {
    border-collapse: collapse;
	width: inherit;
	font-size: 1em;
}


#menu {
	display: block;
	text-align:center;
	position: relative;
	height:2em;
	clear:both;
	padding-top:1em;
	font-size:1em;
	width:inherit;
	margin-top: 15px;
	padding: 6px 0 0;
}

#menu ul{
	margin:0;
	padding:0;
	list-style:none;
	margin: 0 auto;
	text-align: center;
	list-style:none;
}

#menu li {
	text-align:center;
	width: inherit;
	text-transform: uppercase;
	display:inline-block;
	float:center;
	font-size: 0.85em;
	margin-right: 5px;
	margin-left: 5px;
	letter-spacing: 0em;
	float:center;
	width: inherit;
	text-align:center;
}

#menu a {
	color:var(--menulink);
	white-space: nowrap;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  top:-13px;
  display: inline-block;
  width: 36px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  /*background-color: white;*/
  background-color: rgb(15, 93, 189);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:rgb(130,130,130);
}

input:focus + .slider {
  box-shadow: 0 0 0px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}

